<h1 class="mb-1 restaurant-show-title">建立新餐廳</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <form action="/restaurants" method="POST">
        {{!-- name --}}
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label text-secondary">餐廳名</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="name" placeholder="(required) Name"
              required="required">
          </div>
        </div>
        {{!-- name_en --}}
        <div class="form-group row">
          <label for="name_en" class="col-sm-2 col-form-label text-secondary">餐廳英文名</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name_en" id="name_en" placeholder="English Name">
          </div>
        </div>
        {{!-- category --}}
        <div class="form-group row">
          <label class="category text-secondary col-sm-2" for="inlineFormCustomSelectPref">類別</label>
          <div class="col-sm-10">
            <select class="custom-select" id="category" name="category">
              <option value="中東料理">中東料理(default)</option>
              <option value="日本料理">日本料理</option>
              <option value="義式餐廳">義式餐廳</option>
              <option value="美式">美式</option>
              <option value="酒吧">酒吧</option>
              <option value="咖啡">咖啡</option>
            </select>
          </div>
        </div>
        {{!-- image --}}
        <div class="form-group row">
          <label for="image" class="col-sm-2 col-form-label text-secondary">圖片</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="image" id="image" placeholder="(required) http://"
              required="required">
          </div>
        </div>
        {{!-- location --}}
        <div class="form-group row">
          <label for="location" class="col-sm-2 col-form-label text-secondary">地址</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="location" id="location" placeholder="(required) Location"
              required="required">
          </div>
        </div>
        {{!-- phone --}} <div class="form-group row">
          <label for="phone" class="col-sm-2 col-form-label text-secondary">電話</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="(required) Phone"
              required="required">
          </div>
        </div>
        {{!-- google_map --}}
        <div class="form-group row">
          <label for="google_map" class="col-sm-2 col-form-label text-secondary">Google 地圖</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="google_map" id="google_map" placeholder="http://">
          </div>
        </div>
        {{!-- rating --}}
        <div class="form-group row">
          <label for="rating" class="col-sm-2 col-form-label text-secondary">評分</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="rating" id="rating" placeholder="Rating">
          </div>
        </div>
        {{!-- description --}}
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label text-secondary">介紹</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="description" id="description" placeholder="Description">
          </div>
        </div>
        {{!-- add button --}}
        <div class="form-group row justify-content-end mr-1">
          <button type="submit" class="btn btn-info">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>